@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');

#root {
    width: 100vw;
    overflow: hidden;
}

.content-container {
    display: flex;
    height: 87.5vh;
    font-size: 36px;
    font-family: 'Gemunu Libre', sans-serif;
    color: #A239CA;

    overflow: hidden;
}

.content-container p {
    color: #A239CA;
    transition: color 5s;
}

.content-container p:hover {
    color: #EEEEEE;
}

.content-container h1 {
    transition: left 1s;
}

.content-container h3 {
    color: #141c3a;

    transition: left 2s;
}

.content-container div {
    
    transition: left 2s;
}

.move-content-container .name-h1 {
    left: 250%;
}

.move-content-container .name-h3 {
    left: 250%;
}

.move-content-container .arrow-right {
    left: 195%;
}

.move-content-container .personal-story p {
    left: 30%;
}

.move-content-container .story-1{
    transition: left 2s;
}
.move-content-container .story-2{
    transition: left 1.5s;
}
.move-content-container .story-3{
    transition: left 1s;
}

.move-content-container .arrow-left {
    left: 5%;
}

.personal-story {
    text-align: center;
}

.story-text {
    position: relative;

    display: flex;

    top: 2.5%;
}

.personal-story p {
    position: relative;

    font-size: 24px;
    width: 40%;

    left: -120%;
    margin-top: 15%;
    transition: right 0.5s;
    transition: left 1s;

}

.personal-story:hover {
    color: #EEEEEE;

}

.personal-information {
    position: relative;

    z-index: 0;

    left: -30%;
    top: 20%;
    width: 100%;
}


.personal-information h1 {
    box-shadow: 0 7px 0px #A239CA;
    width: 450px;
    left: 5%;

    text-align: center;

    position: relative;

    color: #A239CA;

    animation: pulse 2.5s;

    transition: 0.5s;
}

.personal-information h1:hover {
    color: #EEEEEE;

    box-shadow: 0 10px 0px #EEEEEE;
}

.personal-information h3 {
    box-shadow: 0 7px 0px #A239CA;

    color: #A239CA;

    text-align: center;

    width: 35%;
    left: 35%;

    position: relative;

    animation: pulse 4s;
    
    transition: 1.5s;
}

.personal-information h3:hover {
    color: #EEEEEE;

    box-shadow: 0 10px 0px #EEEEEE;
}

.arrow {
    font-size: 64px;

    top: 40%;
}

.arrow-right {
    position: relative;
    right: 5%;
    left: -5%;


    transition: left 0.5s;
}

.arrow-left a {
    color: #A239CA;
    text-decoration: none;
}

.arrow-left {
    position: relative;
    left: -15%;
    z-index: 1;
    transition: left 0.5s;
}

.arrow a{
    color: #A239CA;
    text-decoration: none;

    transition: color 0.5s;    
}

.arrow a:hover {
    color: #EEEEEE;
    opacity: 0.9;
    
}

.arrow-down {
    font-size: 72px;
    font-weight: 500;

    width: 100vw;
    text-align: center;
    position: absolute;

    top: 85%;

    animation: moveArrow 4s;
}

@keyframes moveArrow {
    0% {
        top: 85%;
    }
    15% {
        top: 82%;
    }
    15% {
        top: 82%;
    }
    30% {
        top: 85%;
    }
    30% {
        top: 85%;
    }
    45% {
        top: 82%;
    }
    45% {
        top: 82%;
    }
    60% {
        top: 85%;
    }
    60% {
        top: 85%;
    }
    75% {
        top: 82%;
    }
    75% {
        top: 82%;
    }
    1000% {
        top: 85%;
    }
}

@keyframes pulse {
    0% {
        color: #A239CA;
    }

    50% {
        transform: scale(1.1);
        color: #EEEEEE;
        box-shadow: 0 10px 0px #EEEEEE;
    }

    55% {
        transform: scale(1);
        box-shadow: 0 7px 0px #EEEEEE;
    }



    100% {
        color: #A239CA
    }
}

@media screen and (min-height: 1366px) {
    .name {
        font-size: 72px;
    }
    .date {
        font-size: 62px;

    }

    .personal-story p {
        margin-top: 75%;
        font-size: 24px;
    }

    .personal-information {
        left: -25%;
        top: 15%;
    }

    .move-content-container .personal-story p {
        left: 47.5%;
    }
}

@media screen and (min-height: 1024px) {
    .personal-information {
        left: -20%;
        top: 15%;
    }
}